.container-fluid{
    background-color: #ffffff;
}
.main{
    background-color: #f6f7f8;
    padding: 30px 0px;
}
.card{
    border-radius: 10px;
}
.image-gallery{
    padding: 5px;
}
.image-gallery img{
    border-radius: 10px;
}
.Drag-image{
    border: 1px dotted #4f4f4f;
    border-radius: 5px;
    background-color: #ffffff;
}
